.state-submitted {
  display: none;
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  border-radius: 15px;
  padding: 34px 24px 32px 24px;
  position: relative;
  text-align: center;
  max-width: 412px;
  margin: auto;

  @include breakpoint(desktop) {
    border-radius: 30px;
    padding: 46px 41px 43px 31px;
  }

  &:before {
    content: "";
    background: url(./assets/illustration-thank-you.svg) no-repeat top center /
      contain;
    display: block;
    width: 144px;
    height: 96px;
    margin: auto auto 25px;

    @include breakpoint(desktop) {
      height: 108px;
      width: auto;
      margin-bottom: 33px;
    }
  }
}

.state-submitted__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: var(--pure-white);
  margin-bottom: 17px;

  @include breakpoint(desktop) {
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 10px;
  }
}

.state-submitted__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: var(--light-grey);

  @include breakpoint(desktop) {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }
}

.selected-rating-wrap {
  margin-bottom: 25px;

  @include breakpoint(desktop) {
    margin-bottom: 38px;
  }
}

.selected-rating {
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  color: var(--orange);
  background: var(--dark-blue);
  border-radius: 23px;
  padding: 5px 12px;

  @include breakpoint(desktop) {
    padding: 8px 23px;
  }
}
